# Различные варианты работы КЛИЕНТА:
# - КЛИЕНТ использует AVTUNPROXY ("двойной TLS" или "тунелирование TLS-соединения с использованием avtunproxy).
# - КЛИЕНТ использует Avie c AvCSP или иную реализацию, ПОДДЕРЖИВАЮЩУЮ белорусские криптонаборы (TLS-соединение "по-белоруски" КЛИЕНТa и HAPROXY + TLS-соединение по RSA HAPROXY и WEB-СЕРВЕРА). 
#  Примечание: Вариант не обрабатывает случай Internet Explorer c AvCSP, который не включает белорусские криптонаборы в отправляемый серверу список поддерживаемых криптонаборов
# - КЛИЕНТ предъявил только "импортные" криптонаборы (HAPROXY проксирует соединение КЛИЕНТа на WEB-СЕРВЕР)

# Для работы HAPROXY требуется:
# 1. Файл с данными сертификата сервера (/opt/AvTLSSrv/conf/TLS/server.cer.pem).
# 2. Файл с личным ключом соответствующим сертификату (в том же файле, что и сертификат либо в файле server.cer.pem.key).
# 3. Файл с цепочкой сертификатов УЦ (от издателя до самоподписанного, важен порядок) для сертификата сервера в каталоге /opt/AvTLSSrv/conf/TLS/chain (см. переменную issuers-chain-path).
#
# ДЛЯ РАБОТЫ ПРИМЕРА НЕОБХОДИМО:
# 1. Адрес WEB-СЕРВЕРА должен быть включен в конфигурацию AVTUNPROXY
# 2. В случае настройки AVTUNPROXY на управление сертификатами "платформенное", сертификаты и СОС УЦ издателя avexample.by (для сертификата сервера HAPROXY) и из цепочки сертификата сервера должны быть корректно установлены с использованием Персонального менеджера сертификатов

global
	# Вести обработку в файл с протоколом событий на 127.0.0.1 сохраняя в local0
#	log 127.0.0.1 local0 info

#	stats timeout 30s
#	user haproxy
#	group haproxy

	daemon
	pidfile /opt/AvTLSSrv/run/haproxy.pid

	# Загрузка avstb engine (openssl) - белорусские криптоалгоритмы
# не используется, начиная с haproxy версии 2.7
#	ssl-engine avstb algo ALL

	# каталог с файлами, в каждом из которых сертификаты УЦ из цепочки сертификатов сервера, передаваемой клиенту (от сертификата издателя до самоподписанного сертификат, порядок важен)
	issuers-chain-path /opt/AvTLSSrv/conf/TLS/chain

	# параметры по умолчанию для bind в разделе frontend
	ssl-default-bind-ciphers DHT-BIGN-WITH-BELT-CTR-MAC-HBELT:DHE-BIGN-WITH-BELT-CTR-MAC-HBELT:DHT-BIGN-WITH-BELT-DWP-HBELT:DHE-BIGN-WITH-BELT-DWP-HBELT
	# отключить возобнобновление сессии по состоянию сервера, сохраненному у клиента, использовать TLS 1.2
	ssl-default-bind-options no-tls-tickets force-tlsv12

defaults
	mode	tcp
	# Добавлять в протокол события о трафике
#	log	global
	# Определение расширенного формата записей протокола события
#	option	tcplog
	# Вывод сообщений в консоль при запуске с ключом "-d"
#	log stdout format short daemon          # send log to systemd
#	log stdout format raw daemon            # send everything to stdout
#	log stderr format raw daemon notice     # send important events to stderr

	option http-server-close
	option abortonclose
	option redispatch

	timeout check           3s
	timeout client          30s  # Client and server timeout must match the longest
	timeout connect         5s
	timeout http-keep-alive 5s
	timeout http-request    10s  # A complete request may never take that long.
	timeout queue           1m   # Don't queue requests too long if saturated.
	timeout server          10s  # Time we may wait for a response from the server.

#	retries 3

frontend https_in
	mode tcp
	bind *:443
	tcp-request inspect-delay 5s
	tcp-request content accept if { req.ssl_hello_type 1 }	

	# проверка использования тунеля avtunproxy и в случае успеха переход для обработки
	acl find_AVTLSPROXY payload(0,10) -m bin 4156544c5350524f5859 # AVTLSPROXY
	filter placemark remove-label
	use_backend be_loopback_avtunproxy if find_AVTLSPROXY

        # обработка случая использования Avie с AvCSP или других реализации клиентов с поддержкой белорусских криптонаборов BIGN-WITH-BELT
	# ВАЖНО! Не работает для Internet Explorer с AvCSP, который не включает белорусские криптонаборы в отправляемый серверу список поддерживаемых криптонаборов
	use_backend https_out_bign_with_belt if { req.ssl_stb_ext ge 1 }

	# использование белорусских криптонаборов не обнаружено, обработка для других случаев
	# ВАЖНО! В т.ч. обработка случая Internet Explorer с AvCSP, который не включает белорусские криптонаборы в отправляемый серверу список поддерживаемых криптонаборов
	default_backend https_out

#------------------------------------------------------
# Обработка, если использование белорусских криптонаборов клиентом не обнаружено
#------------------------------------------------------
backend https_out
	mode tcp
	server node avexample.by:444 check
	
#------------------------------------------------------
# Обработка в случае, если клиент отправил серверу сведения о поддержке белорусских криптонаборов
#------------------------------------------------------
backend https_out_bign_with_belt
	mode tcp
	option ssl-hello-chk
	server loopback_bign_with_belt abns@bign-with-belt

frontend fe_loopback_bign_with_belt
	mode tcp
	bind abns@bign-with-belt
	tcp-request inspect-delay 5s
	tcp-request content accept if { req.ssl_hello_type 1 }

	# возможны разбор и обработка по SNI
	use_backend be_loopback_bign_with_belt_example if { req.ssl_sni -i avexample.by }

	default_backend be_loopback_bign_with_belt_example
	
backend be_loopback_bign_with_belt_example
	mode tcp
	server loopback_example abns@bign-with-belt-example
    
frontend fe_loopback_example
	mode tcp
	# обработка tls-соединения с белорусскими криптоалгоритмами
	#  файл с цепочкой (если отсутствует в opt/haproxy/ssl/private/server.pem) - см. в параметре issuers-chain-path каталог файлов с цепочками сертификатов
	bind abns@bign-with-belt-example ssl crt /opt/AvTLSSrv/conf/TLS/server.cer.pem
	default_backend https_out_bign_with_belt_example
	
backend https_out_bign_with_belt_example
	mode tcp

	# соединение по TLS без проверки сертификата сервера
	server node avexample.by:444 ssl verify none
	# соединение по TLS с проверкой сертификата сервера
#	server node avexample.by:444 check ssl ca-file /opt/AvTLSSrv/conf/TLS/ca/backend-rsa.cer.pem
	# соединение БЕЗ установки TLS-соединения (по http)
#	server node avexample.by:80 maxconn 50 check

#------------------------------------------------------
# Обработка в случае, если обнаружено использование клиентом avtunproxy
#------------------------------------------------------
backend be_loopback_avtunproxy
	mode tcp
	option ssl-hello-chk
	server loopback_avtunproxy abns@avtunproxy

frontend fe_loopback_avtunproxy
	mode tcp
	bind abns@avtunproxy
	tcp-request inspect-delay 5s
	tcp-request content accept if { req.ssl_hello_type 1 }

	# возможны разбор и обработка по SNI
#	use_backend be_loopback_avtunproxy_example if { req.ssl_sni -i avexample.by }

	default_backend be_loopback_avtunproxy_example

backend be_loopback_avtunproxy_example
	mode tcp
	server loopback_example abns@avtunproxy-example
    
frontend fe_loopback_avtunproxy_example
	mode tcp
	# обработка tls-соединения, организованного avtunproxy, с белорусскими криптоалгоритмами
	#  файл с цепочкой (если отсутствует в opt/haproxy/ssl/private/server.pem) - см. в параметре issuers-chain-path каталог файлов с цепочками сертификатов
	bind abns@avtunproxy-example ssl crt /opt/AvTLSSrv/conf/TLS/server.cer.pem
	default_backend https_out_avtunproxy_example
	
backend https_out_avtunproxy_example
	mode tcp
	server node avexample.by:444 check
