[Unit]
Description=AvTLSSrv (HAProxy Load Balancer)
#Documentation=man:haproxy(1)
#Documentation=file:/usr/share/doc/haproxy/configuration.txt.gz
After=network.target rsyslog.service

[Service]
#EnvironmentFile=-/etc/default/haproxy
#EnvironmentFile=-/etc/sysconfig/haproxy
EnvironmentFile=/opt/AvTLSSrv/conf/appendix

Environment=CONFIG=/opt/AvTLSSrv/conf/haproxy.cfg
# Add extra flags here, see haproxy(1) for a few options
#Environment=EXTRAOPTS="-de -m 16"
Environment=AVOPENSSL_HOME=/opt/AvTLSSrv
Environment=LD_LIBRARY_PATH=/opt/AvTLSSrv/lib:/opt/AvTLSSrv/lib64
Environment=AVCSP_NOT_USE_EMS=YES
#Environment=NOT_USE_EMS=YES
#Environment=NOT_USE_ETM=YES

Environment="PIDFILE=/opt/AvTLSSrv/run/haproxy.pid" "EXTRAOPTS=-S /opt/AvTLSSrv/run/haproxy-master.sock"

ExecStartPre=/opt/AvTLSSrv/sbin/haproxy -f $CONFIG -c -q $EXTRAOPTS
ExecStart=/opt/AvTLSSrv/sbin/haproxy -Ws -f $CONFIG -p $PIDFILE $EXTRAOPTS
ExecReload=/opt/AvTLSSrv/sbin/haproxy -f $CONFIG -c -q $EXTRAOPTS
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Restart=always
SuccessExitStatus=143
Type=notify

# The following lines leverage SystemD's sandboxing options to provide
# defense in depth protection at the expense of restricting some flexibility
# in your setup (e.g. placement of your configuration files) or possibly
# reduced performance. See systemd.service(5) and systemd.exec(5) for further
# information.

# NoNewPrivileges=true
# ProtectHome=true
# If you want to use 'ProtectSystem=strict' you should whitelist the PIDFILE,
# any state files and any other files written using 'ReadWritePaths' or
# 'RuntimeDirectory'.
# ProtectSystem=true
# ProtectKernelTunables=true
# ProtectKernelModules=true
# ProtectControlGroups=true
# If your SystemD version supports them, you can add: @reboot, @swap, @sync
# SystemCallFilter=~@cpu-emulation @keyring @module @obsolete @raw-io

[Install]
WantedBy=multi-user.target
